{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dart">
            <th>No.</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% if latest_question_list %}
            {% for question in latest_question_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'polls:detail' question.id %}">
                        {{ question.question_text }}
                    </a>
                </td>
                <td>{{ question.pub_date }}</td>
            </tr>
            {% endfor %}
            </ul>
        {% else %}
            <tr>
                <td colspan="3">No polls are available.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
