{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- poll CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Welcome! Choose Subject</title>
</head>
<body>
<!-- navigation bar -->
{% include "navbar.html" %}
<!-- information in base template start -->
{% block content %}
{% endblock %}
<!-- information in base template end -->
</body>
</html>
